extends ../base
block content
  br
  br
  br
  br
  .content-header.row
    .content-header-left.col-md-6.col-xs-12.mb-1
      h2.content-header-title Gestión de Materias
    .content-header-right.breadcrumbs-right.breadcrumbs-top.col-md-6.col-xs-12
      .breadcrumb-wrapper.col-xs-12
        ol.breadcrumb
          li.breadcrumb-item
            a(href="/") Inicio
          li.breadcrumb-item
            a(href="/materias") Materias
  .content-body
    //- Basic form layout section start
    section#basic-form-layouts
      include ./components/modal_matters_create.jade
      //- Bordered striped start
      .col-md-12
        .row
          .col-md-4(align="center")
            input.form-control(type="text", name="filter", placeholder="Filtro")
          .col-md-3(align="center")
          .col-md-4(align="center")
            input(type="radio", name="gender", value="male", style="margin-left: 5%")
            |  activos
            input(type="radio", name="gender", value="female", style="margin-left: 5%")
            |  Bajas
            input(type="radio", name="gender", value="other", checked="", style="margin-left: 5%")
            |   Todos
          .col-md-1(align="center")
            button(type="button", data-toggle="modal", data-target="#procesos_add")
              img(src="/public/icons/agregar.png", alt="")
      .col-md-12
        .card
          .card-header
            h4.card-title Materias Registradas
            a.heading-elements-toggle
              i.icon-ellipsis.font-medium-3
          .card-body.collapse.in
            .table-responsive
              table.table.table-bordered.table-striped
                thead
                  tr
                    th(style="width:15%") Codigo
                    th(style="width:35%") Nombre
                    th(style="width:10%") Estado
                    th(style="width:10%") M
                    th(style="width:10%") B
                    th(style="width:10%") H
                tbody
                  each matter in matters
                    tr
                      td #{matter.codigo}
                      td #{matter.nombre}
                      td
                        if matter.estado==0
                          img(src="/public/icons/inactivo.png", alt="")
                        else
                          img(src="/public/icons/activo.png", alt="")
                      td
                        button(type="button", data-toggle="modal", data-target="\#matters_modify_#{matter.codp}")
                          img(src="/public/icons/modificar.png", alt="")
                        //- include ./components/modal_matters_modify.jade
                      td
                        button(type="button", data-profile="#{matter.codp}", data-toggle="modal", data-target="\#matters_disable_#{matter.codp}")
                          img(src="/public/icons/eliminar.png", alt="")
                        //- include ./components/modal_matters_disable.jade
                      td
                        button(type="button", data-profile="#{matter.codp}",data-toggle="modal",data-target="\#matters_enable_#{matter.codp}")
                          img(src="/public/icons/habilitar.png", alt="")
                        //- include ./components/modal_matters_enable.jade
        br
        br
        br





